<nav aria-label="Page Navigation">
  <ul class="pagination align-items-center mt-4 mb-0">
    <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ paginator.previous_page_path | relative_url | default: '#' }}" aria-label="previous-page">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>

    {% for i in (1..paginator.total_pages) %}
      {% if i == 1 or i == paginator.total_pages or i >= pre and i <= next %}
        <li class="page-item {% if i == paginator.page %} active{% endif %}">
          <a class="page-link" href="{{ site.paginate_path | replace: ':num', i | relative_url | replace: '//', '/' }}">
            {{ i }}
          </a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ paginator.next_page_path | relative_url | default: '#' }}" aria-label="next-page">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
  </ul>
</nav>
